<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code</title>
  </head>
  <body>
    <div id="my-node" style="text-align: center;">
      <h1>You have been successfully registered</h1>
      <img src="<%=image%>" />
    </div>
    <div style="text-align: center;">
      <button
        id="foo"
        style="padding: 10px; border: 1px solid black; margin-top: 10px;"
      >
        Download QR Code
      </button>
    </div>
  </body>
  <script src="../public/js/bundle.js"></script>
</html>
