<!DOCTYPE html>
<html>
  ​
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Michele Bitetto @mic_codes" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    ​
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <title>Reschedule Page</title>
  </head>
  ​
  <body>
    <div>
      <div class="loginForm">
        <div class="formHead">
          <div class="logo">&#60;Reschedule <span>/</span>&#62;</div>
        </div>
        <div class="formBody">
          <div>
            <div class="formInput">
              <div>Host Name</div>
              <input type="text" maxlength="35" />
            </div>
            <div class="formInput">
              <div>From</div>
              <input type="text" maxlength="30" />
            </div>
            <div class="formInput">
              <div>Time</div>
              <input type="text" maxlength="30" />
            </div>
            <div class="formInput">
              <div>POM</div>
              <input type="text" maxlength="30" />
            </div>
            <div class="formInput">
              <div>New Date</div>
              <input type="date" maxlength="30" />
            </div>
            <div class="formInput">
              <div>New Time</div>
              <input type="time" maxlength="30" />
            </div>

            <div class="rememberMe">
              <input id="remember" type="checkbox" class="checkRemember" />
              <label for="remember">Remember me</label>
            </div>
          </div>
          <div class="loginButton">
            <a href="https://instagram.com/mic_codes" target="_blank">
              <button>Login</button>
            </a>
          </div>
          <div class="forgotPass">
            <a href="https://instagram.com/mic_codes" target="_blank"
              >Forgot password?</a
            >
          </div>
          ​
        </div>
      </div>
    </div>
  </body>
  ​
</html>
